 #one{
    color: aqua;
    }
 .two{
    color: blueviolet;
 }
 #main{
    height: 200px;
    width: 200px;
    background-color: cornflowerblue;
    transition: 4s;
 }
 #child{
    height: 50%;
    width: 60%;
    background-color: yellow;
    transition: 2s;
 }
 #main:hover{
    border-radius: 40%;
    background-color: blue;
    margin-left: 500px;
 }
 #child:hover{
    border-radius: 30%;
    background-color: black;

 }